.contato {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.form {
    flex-direction: column;
    width: 80vw;
    display: block;
}

input {
    height:30px;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1.5px solid #373636;
    border-radius:5px;
    padding: 5px 0px 5px 10px;
    font-family: "Poppins", sans-serif;
    color: #000;
    font-size:14px;
    cursor: pointer;
}

input:hover{
    border: 1.5px solid #FF551C;
    color: #fff;
}

.field-nome {
    width: 39vw;
    float:left;
}

.field-telefone {
    width: 38vw;
    float:right;
    margin-right:-12px;
}

.field-email {
    width: 80vw;
}

.field-mensagem {
    font-size:14px;
    color: #000;
    width: 80vw;
    height: 15vh;
    margin-bottom: 15px;
    border-radius:5px;
    cursor: pointer;
    background-color: #fff;
    border: 1.5px solid #373636;
    font-family: "Poppins", sans-serif;
    resize: none;
    padding: 5px 0px 0px 10px;
}

.field-mensagem:hover{
    border: 1.5px solid #FF551C;
}

.field-enviar {
    width: 20vw;
    height:38px;
    padding: 9px;
    background-color: #d64f0c;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    float: right;
    border: 0;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 3px 3px 3px #353434;
}

.field-enviar:hover {
    border: 1.5px solid #e87840;
    float: right;
    background-color: #e87840;
}