.galeria{
    width:90vw;
    margin-left: 5vw;
    
}

.galeria img{
    border: 3.5px solid #ffffff;
    width:28.5vw;
    height:19vw;
}

.galeria img:hover{
    border: 3.5px solid #e63600;
    cursor: pointer;
}