.banner {
    width: 100%;
}

.banner .imagemBanner {
    width: 100%;
    max-height: 100vh;
}

.textoBanner {
    position: absolute;
    top: 40px;
    left: 550px;
    text-align: center;
    color: rgb(243, 243, 243);
    font-size: 40pt;
    padding: 0 3vh 0 3vh;
    font-weight: bold;
    font-family: 'Montserrat';
}

@keyframes pisca {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0
    }
}

.textoBanner::after {
    content: "|";
    margin-left: 5px;
    color:#ffae00;
    opacity: 1;
    animation: pisca .9s infinite;
}


