@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body{
    background-color: #fff;
    margin:0;
    font-family: "Poppins", sans-serif;
}

.textoPizzaria{
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    border-top: 1px solid #e65e03;
    border-bottom: 1px solid #ff3c00;
}

h1{
    text-align: center; 
}

.textoPizzaria p{
    text-align: center; 
    font-size: 23px;
}