body{
    background-color: #ffffff;
    margin:0
}

.textoPizzaria{
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    border-top: 1px solid #e65e03;
    border-bottom: 1px solid #ff3c00;
}

.textoPizzaria h1{
    text-align: center; 
    font-size: 30px;
}

.textoPizzaria p{
    text-align: center; 
    font-size: 23px;
}