.container-login {
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
}

.logo-pizza img {
    width: 100px;
    height: 100px;
    margin: 3% 0 0 45%;
    border-radius: 80px;
}

body {
    background-color: rgb(202, 202, 202);
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text],
input[type=password],
input[type=email],
input[type=date]{
    height: 40px;
    border-radius: 0;
    width: 50%;
    padding: 10px ;
    margin: 5px 0 5px 25%;
    display: inline-block;
    color:rgb(41, 41, 41);
    background-color: rgb(218, 218, 218);
    border: 0.5px solid #3a3a3a;
    box-sizing: border-box;
    font-size: 18px;
}

input:hover{
    border: 0.5px solid #c25003;
    cursor: pointer;
}

button {
    background-color: #0ca011;
    color: white;
    padding: 10px;
    margin: 15px 40% 0 40%;
    border: none;
    cursor: pointer;
    width: 20%;
    font-size: 19px;
    border-radius: 5px;
    font-weight: bold;
}

button:hover{
    background-color: #1d661f;

}

.container-login  .login-a{
    margin: 15px 40% 0 40%;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    padding:5px;
}

a{
    text-decoration: none;
    color: #212121;
}

.container-login  .login-a:hover{
    background-color: #949494;
}
