.tituloCardapio{
    font-size: 25px;
    margin-left: 30px;
}

.tituloItemCardapio{
    background-color: #3f3f3f;
    height: 30px;
    width: 30%;
    margin-left: -60px;
    padding-left: 90px;
    color:white;
    font-size:20px;
    border-radius:8px;
}

.listaSabores{
    width: 80vw;
}

.listaSabores li{
    background-color: #dfdede;
    display: inline-block;
    width:30vh;
    margin: 15px 5px 3px 5px;
    border-radius: 7px;
    cursor: pointer;
}

.botaoEnviar{
    margin-left:530px;
    height:30px;
    width:100px;
    background-color: rgb(109, 22, 22);
}

.botaoEnviar:hover{
    background-color: rgb(158, 52, 52);
    cursor: pointer;
}